parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$affected_rows might not be defined\\.$#"
			count: 1
			path: MDB2/Driver/Common.php

		-
			message: "#^Constructor of class MDB2_Error has an unused parameter \\$dummy\\.$#"
			count: 1
			path: MDB2/Error.php
